<h1>Welcome!</h1>

<% if @current_user %>
	<p>Logged in as: <%= @current_user.try(:email) %></p>
<% end %>

<% if !@current_user %>
	<p>Sign up or Log in!</p>
<% end %>

<%= form_tag results_path do %>
  <label for="url">url</label>
  <%= text_field_tag :url %>
 <%= submit_tag "Submit" %>
<% end %>