<h1>Welcome!</h1>

<% if @current_user %>
	<p>Logged in as: <%= @current_user.try(:email) %></p>
<% end %>

<% if !@current_user %>
	<p>Sign up or Log in!</p>
<% end %>

<iframe src="https://open.spotify.com/embed?uri=spotify:user:ehaala:playlist:4J8E3JE9pHEalySzCpTDCw"
        width="250" height="80" frameborder="0" allowtransparency="true"></iframe>

<br />

<img src="https://cdn-s3.si.com/s3fs-public/styles/marquee_large_2x/public/2017/09/15/dirk_nowitzki_marquee_.jpg" height="200px">

<br />

<% @data[0]['faceAttributes']['emotion'].each do |key,value| %>
	<% if value > 0 %>
		<p><%= key %>: <%= value  %></p>
	<% end %>
<% end %>