<% if !@current_user %>
	<p>Sign up or Log in!</p>
<% end %>

<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8 home boxshadow">
		<p>Welcome to...</p>
		<h1 class="modak shadow margintop marginbtm">MoodyTunes</h1>
		<p>Start by entering an image url below!</p>
		<%= form_tag results_path do %>
		  <%= text_field_tag :url, "", class: 'dark' %>
		  <br>
		 	<%= submit_tag "GO!", :class => 'mui-btn mui-btn--primary button' %>
		<% end %>
	</div>
	<div class="col-md-2"></div>
</div>