<h1 class="modak margintop">MoodyTunes</h1>

<div class="row">
	<div class="col-md-5 results boxshadow">
		<p>Moody Tunes is a user-friendly app that connects your emotions with music.</p>
		<hr />
		<ol class="left">
			<li>Submit an image (URL) of your face or a head shot you find on the internet that embodies how you're feeling</li>
			<li>Through Microsoft Azure's face recognition technology, your image will be analyzed based on 8 different emotions (anger, contempt, disgust, fear, happiness, neutral, sadness, and surprise)</li>
			<li>Based on these results, you will receive several Spotify playlist recommendations, which you can save to "MyMoods" for later use!</li>
		</ol>
		<%= link_to "Get Started", search_path%>
	</div>
	<div class="col-sm-2"></div>
	<div class="col-md-5 boxshadow">
		<h1>DEMO GIF GOES HERE</h1>
	</div>
</div>