<h1 class="modak margintop shadow">MoodyTunes</h1>

<div class="row">
	<div class="col-md-4 results boxshadow">
		<p>MoodyTunes is a user-friendly app that connects your <span class="emphasis">emotions</span> with <span class="emphasis">music</span>.</p>
		<hr />
		<ol class="left">
			<li>Submit an image (URL) of your face or a head shot you find on the internet that embodies how you're <span class="emphasis">feeling</span></li>
			<li>Through Microsoft Azure's face recognition technology, your image will be analyzed based on 8 different <span class="emphasis">emotions</span> (anger, contempt, disgust, fear, happiness, neutral, sadness, and surprise)</li>
			<li>Based on these results, you will receive several Spotify playlist recommendations, which you can save to "<span class="emphasis">MyMoods</span>" for later use!</li>
		</ol>
		<hr />
		<%= link_to 'Get Started!', search_path, :class => 'mui-btn mui-btn--primary button' %>
	</div>
	<div class="col-md-1"></div>
	<div class="col-md-7 boxshadow margintop">
		<img src="/moodydemo.gif" class="demo">
	</div>
</div>