// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html,body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}

body {
  text-align: center;
  font-family: Ubuntu;
  font-size: 18px;
  color: #303030;
	background: #4ECDC4;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #556270, #4ECDC4);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #556270, #4ECDC4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.row {
	padding: 5%;
}

.button:hover {
	box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.5), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.home {
	text-align: center;
	padding: 2%;
	background: #ADA996;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.results {
	background: black;
	padding: 1%;
	background: #ADA996;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.stats {

}

.upload {
	width: 90%;
	height: 90%;
	object-fit: contain;
	overflow: hidden;
}

.navbar {
	background: #303030;
	color: white;
	border-radius: 0;
}

.right {
	float: right;
	padding: 10px;
}

.btn {
	margin: 5px;
}

.modak {
	font-family: Modak;
	font-size: 3em;
}

.boxshadow {
	box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.margintop {
	margin-top: 50px;
}

.marginbtm {
	margin-bottom: 50px;
}
